.hero {
    position: relative;
    height: 40vh;
    min-height: 350px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.heroVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
}